@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  height: 100vh;
  background-color: #1992d3;
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 40px;
}

.logo h1 {
  font-size: 24px;
  margin-left: 20px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
}

.icon-text p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
}

.list-items-bottom {
  margin-top: 40px;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 22% 80%;
  background-color: aqua;
  box-shadow: 12px 12px 0 red;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  margin: 1em 2em;
  align-items: center;
}

.form-input {
  width: 400px;
  background-color: #e2e8f0;
  border-radius: 15px;
  height: 32px;
  border: 1px solid lightgray;
  margin-right: 400px;
  margin-left: 20px;
}

.avatarNav,
.avatarWelcome {
  margin: 0 20px;
}

.welcome {
  display: flex;
  flex-direction: row;
  margin: 1em 2em;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 30px;
}

.btn {
  background-color: #1992d3;
  width: 70px;
  height: 35px;
  color: white;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
}

.content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 70% 30%;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card {
  background-color: white;
  border-left: 3px solid #facc15;
  border-radius: 10px;
  height: 150px;
  width: 80%;
  margin: 30px 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

h6 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #737373;
  margin: 10px 0;
}

h4 {
  margin-left: 24px;
  margin-top: 20px;
  font-size: 1.2em;
}

.ann-trend {
  display: grid;
  grid-template-rows: 50% 50%;
}

.ann-card,
.trend-card {
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 10px;
}

.ann-text {
  padding: 10px 15px;
}

.ann-text h6,
.trend-text h6 {
  font-size: 14px;
}

.ann-text p,
.trend-text p {
  font-size: 11px;
  color: #737373;
}

.divider {
  border: 0.5px solid #737373;
  width: 80%;
  margin-left: 20px;
}

.trend-image-text {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  padding: 12px 0;
}

.trend-text {
  margin-left: 20px;
}
